<div id="filter" class="cols-4">
  <%= link_to "전체", films_path %><!--
  --><%= link_to "카본", add_query(cate: "carbon") %><!--
  --><%= link_to "우드", add_query(cate: "wood") %><!--
  --><%= link_to "기타", add_query(cate: "etc") %>
</div>
