<ul class="list">

  <li>
    <%= link_to image_tag("/images/ci01.jpg"), image_path("/images/ci01.jpg") %>
    <div class="exp">
      <h5><span>경차 / 특수필름 - 레드</span></h5>
      <div class="price">
        <del>1,800,000원</del><br/>
        <ins>특별할인</ins> <strong>900,000원</strong>
      </div>
    </div>
  </li>

  <li>
    <%= link_to image_tag("/images/ci02.jpg"), image_path("/images/ci01.jpg") %>
    <div class="exp">
      <h5><span>중형차 / 특수필름 - 그린</span></h5>
      <div class="price">
        <del>2,800,000원</del><br/>
        <ins>특별할인</ins> <strong>1,700,000원</strong>
      </div>
    </div>
  </li>

  <li>
    <%= link_to image_tag("/images/ci03.jpg"), image_path("/images/ci01.jpg") %>
    <div class="exp">
      <h5><span>대형차 / 우드스페셜</span></h5>
      <div class="price">
        <del>3,300,000원</del><br/>
        <ins>특별할인</ins> <strong>2,100,000원</strong>
      </div>
    </div>
  </li>

  <li>
    <%= link_to image_tag("/images/ci04.jpg"), image_path("/images/ci01.jpg") %>
    <div class="exp">
      <h5><span>수입차 / 스페셜레드</span></h5>
      <div class="price">
        <del>3,800,000원</del><br/>
        <ins>특별할인</ins> <strong>2,300,000원</strong>
      </div>
    </div>
  </li>

</ul>
